@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="main_header" class="display-4">Welcome !</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewData["url_data"]</p>
</div>

<hr />

<div class="card">
    <div class="card-body">
        <table id="dataTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $("#dataTable").DataTable({
                "responsive": true,
            });
        });
    </script>
}
